<%- include('partials/header') -%>
<div class="button-centered">
    <form action="/auth">
        <button class="button is-primary is-rounded is-large home-button" type="submit">Login With Discord</button>
    </form>
</div>
<%- include('partials/footer') -%>